[submodule "thirdparty/hedley"]
	path = thirdparty/hedley
	url = https://github.com/DigitalLibertiesLab/hedley.git
[submodule "thirdparty/portable-snippets"]
	path = thirdparty/portable-snippets
	url = https://github.com/DigitalLibertiesLab/portable-snippets.git
[submodule "thirdparty/doxygen-awesome-css"]
	path = thirdparty/doxygen-awesome-css
	url = https://github.com/DigitalLibertiesLab/doxygen-awesome-css.git
[submodule "thirdparty/simde"]
	path = thirdparty/simde
	url = https://github.com/DigitalLibertiesLab/simde.git
