[submodule "thirdparty/hedley"]
	path = thirdparty/hedley
	url = https://github.com/nemequ/hedley.git
[submodule "thirdparty/simde"]
	path = thirdparty/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "thirdparty/portable-snippets"]
	path = thirdparty/portable-snippets
	url = https://github.com/nemequ/portable-snippets.git
[submodule "thirdparty/doxygen-awesome-css"]
	path = thirdparty/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
