# Don't search for additional CPPLINT.cfg in parent directories.
set noparent

# include project root in path construction (for header guards) 
root=..

# { should almost always be on a new line
filter=-whitespace/braces

# Scope specifiers are indent +2 spaces
filter=-whitespace/indent

# An else should appear on the same line as the preceding }
filter=-whitespace/newline